In [58]:
import pandas as pd
df1 = pd.read_csv("comments1.csv")
df2 = pd.read_csv("comments2.csv")

In [59]:
df1 = df1.drop("link", axis=1)
df1 = df1.dropna()

df2 = df2.drop("Unnamed: 0", axis=1)
df2 = df2.drop("link", axis=1)
df2 = df2.dropna()

In [60]:
df1 = df1[df1.body != '[deleted]']
df1 = df1[df1.body != '[removed]']

df2 = df2[df2.body != '[deleted]']
df2 = df2[df2.body != '[removed]']

In [61]:
df1 = df1.replace(r"(?:\@|https?\://)\S+", "", regex=True)
df1 = df1[df1.body != '']

df2 = df2.replace(r"(?:\@|https?\://)\S+", "", regex=True)
df2 = df2[df2.body != '']

In [62]:
body = df1.apply(lambda row: unicode(row.body, errors='ignore'), axis=1)

In [63]:
df1['body']=body

In [64]:
df1 = df1.drop("title", axis=1)
df1 = df1.drop("index", axis=1)

In [65]:
df1.head()

,body,company,date,score
1,This has been part of hangouts for a while,Google,1449261004,76
2,It also works in Spanish whenever my mom asks ...,Google,1449257645,18
3,"Also works with ""var _r du?""",Google,1449287747,1
4,....la biblioteca. Me llamo T-Bone La araa dis...,Google,1449281804,7
5,"haha yes came to say this, i love that feature",Google,1449268066,7

In [66]:
df1.to_csv("comments1.csv", encoding="utf-8")