# Linear Regression Predicting

In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [45]:
df1 = pd.read_csv('funding_data.csv')
df2 = pd.read_csv('company_with_predictions.csv')
df3 = pd.read_csv('company_with_prediction_range.csv')
df2 = df2.drop(df2.columns[[0]], axis=1)
df3 = df3.drop(df3.columns[[0]], axis=1)
df2.head()

   weighted_predict   company
0          0.882353    Airbnb
1          0.985507    Amazon
2          3.651413     Apple
3          0.000000     Asana
4          0.000000  Buzzfeed

In [37]:
newdf1 = pd.merge(df1,df2,how='inner',on=['company'])
newdf2 = pd.merge(df1,df3,how='inner',on=['company'])
newdf2

       company  funding  age    size  public  funding_rounds  weighted_predict
0       Google    26.10   17   60000       1               3          3.490323
1        Apple     0.25   39  115000       1               1          3.651413
2       Amazon     8.00   21  224000       1               1          0.985507
3         Uber  8210.00    6    3000       0              13          0.810811
4         Lyft  1010.00    3     375       0               8          0.972603
5       Airbnb  3890.00    7    3000       0               8          0.882353
6       Fitbit    66.00    8     375       1               4          0.786885
7      Jawbone   818.80   16     375       0              12          0.000000
8    Microsoft      NaN   41  118500       1             NaN          1.413043
9     Coursera   146.10    3     175       0               6          0.500000
10     Twitter  1160.00    9    3000       1               8          0.882353
11    Snapchat  1190.00    4     NaN       0               8          1.064103
12     Dropbox  1110.00    8    3000       0               6          1.375000
13     Spotify  1060.00    9    3000       0              11          1.512821
14       Asana    38.20    6     NaN       0               4          0.000000
15    LinkedIn   103.20   12    3000       1               5          1.571429
16   Instagram    57.50    5     375       0               3          0.923913
17    Buzzfeed   296.30    9     750       0               6          0.000000
18   Pinterest  1320.00    6     NaN       0              10          0.000000
19  Laserfiche      NaN   28     NaN       0             NaN          0.000000
20       Kayak   235.02   11     NaN       1               6          0.500000
21     Hubspot   100.50    9     750       1               6          0.500000
22       Quora   141.00    6     NaN       0               3          0.000000
23      Vivint   565.00   18     NaN       0               1          1.142857
24  Riot_Games    15.00    8     750       0               2          0.000000
25      YikYak    73.50    2      30       0               3          0.900000
26    DoorDash    59.70    2     NaN       0               4          0.500000
27      Tinder      NaN    3      75       0             NaN          9.255319

In [39]:
newdf1 = newdf1.drop('size', 1)
newdf2 = newdf2.drop('size', 1)

In [43]:
newdf2

       company  funding  age  public  funding_rounds  weighted_predict
0       Google    26.10   17       1               3          3.490323
1        Apple     0.25   39       1               1          3.651413
2       Amazon     8.00   21       1               1          0.985507
3         Uber  8210.00    6       0              13          0.810811
4         Lyft  1010.00    3       0               8          0.972603
5       Airbnb  3890.00    7       0               8          0.882353
6       Fitbit    66.00    8       1               4          0.786885
7      Jawbone   818.80   16       0              12          0.000000
8    Microsoft      NaN   41       1             NaN          1.413043
9     Coursera   146.10    3       0               6          0.500000
10     Twitter  1160.00    9       1               8          0.882353
11    Snapchat  1190.00    4       0               8          1.064103
12     Dropbox  1110.00    8       0               6          1.375000
13     Spotify  1060.00    9       0              11          1.512821
14       Asana    38.20    6       0               4          0.000000
15    LinkedIn   103.20   12       1               5          1.571429
16   Instagram    57.50    5       0               3          0.923913
17    Buzzfeed   296.30    9       0               6          0.000000
18   Pinterest  1320.00    6       0              10          0.000000
19  Laserfiche      NaN   28       0             NaN          0.000000
20       Kayak   235.02   11       1               6          0.500000
21     Hubspot   100.50    9       1               6          0.500000
22       Quora   141.00    6       0               3          0.000000
23      Vivint   565.00   18       0               1          1.142857
24  Riot_Games    15.00    8       0               2          0.000000
25      YikYak    73.50    2       0               3          0.900000
26    DoorDash    59.70    2       0               4          0.500000
27      Tinder      NaN    3       0             NaN          9.255319