# Linear Regression Predicting

In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [6]:
df1 = pd.read_csv('comments1_with_sentiments.csv')
df2 = pd.read_csv('funding_data.csv')
df2.head()

    company  funding  age    size  public  funding_rounds
0  Facebook  2430.00   11    7500       1              11
1    Google    26.10   17   60000       1               3
2     Apple     0.25   39  115000       1               1
3    Amazon     8.00   21  224000       1               1
4      Uber  8210.00    6    3000       0              13

In [7]:
grouped = df1.groupby('company',as_index=False).mean()
grouped.head()
grouped

       company        index          date      score   Answer1       Avg
0       Airbnb  1134.647059  1.449275e+09   1.588235 -0.176471 -0.176471
1       Amazon   972.942029  1.449260e+09   1.550725 -0.173913 -0.173913
2        Apple   552.158816  1.449264e+09   6.812921 -0.052490 -0.052490
3        Asana  1480.000000  1.446665e+09   1.000000  0.000000  0.000000
4     Buzzfeed  1600.000000  1.449142e+09   0.000000  1.000000  1.000000
5     Coursera  1267.500000  1.449256e+09   1.000000 -0.500000 -0.500000
6     DoorDash  1640.500000  1.448684e+09   1.250000  0.000000  0.000000
7      Dropbox  1374.500000  1.449225e+09   1.875000  0.250000  0.250000
8       Fitbit  1175.344262  1.449258e+09   2.245902 -0.131148 -0.131148
9       Google    82.090323  1.449268e+09   4.903226 -0.064516 -0.064516
10     Hubspot  1607.500000  1.447106e+09   2.000000  0.000000  0.000000
11   Instagram  1535.043478  1.449260e+09   1.206522  0.195652  0.195652
12     Jawbone  1207.500000  1.449275e+09   1.000000 -0.500000 -0.500000
13       Kayak  1604.500000  1.449029e+09   1.000000  0.000000  0.000000
14  Laserfiche  1602.000000  1.442247e+09   2.000000 -1.000000 -1.000000
15    LinkedIn  1484.000000  1.449226e+09   1.857143 -0.142857 -0.142857
16        Lyft  1086.424658  1.449270e+09   1.616438 -0.342466 -0.342466
17   Microsoft  1236.565217  1.449253e+09   2.152174 -0.043478 -0.043478
18   Pinterest  1601.000000  1.449224e+09   1.000000  1.000000  1.000000
19       Quora  1610.000000  1.449117e+09   1.000000  0.000000  0.000000
20  Riot_Games  1621.500000  1.447865e+09   0.500000 -1.500000 -1.500000
21    Snapchat  1329.000000  1.449254e+09   1.333333  0.141026  0.141026
22     Spotify  1427.282051  1.449256e+09   2.551282  0.012821  0.012821
23      Tinder  1821.705167  1.449259e+09  10.756839 -0.060790 -0.060790
24     Twitter  1278.117647  1.449263e+09   1.235294  0.058824  0.058824
25        Uber  1028.000000  1.449260e+09   1.216216  0.135135  0.135135
26      Vivint  1616.142857  1.372687e+09   1.142857  0.000000  0.000000
27      YikYak  1631.200000  1.449264e+09   1.000000  0.000000  0.000000

In [8]:
newdf = pd.merge(grouped,df2,how='inner',on=['company'])

In [9]:
newdf = newdf.drop('size', 1)

In [19]:
yo = pd.read_csv('comments2.csv')
yo = yo[np.isfinite(yo['Answer1'])]
yo.head()

     Unnamed: 0                                               body  company        date                                               link score                                              title  Answer1
4721       4721                                                NaN  Groupon  1415709294  https://www.reddit.com/r/technology/comments/2...  5573  5573 :: Groupon is trying to acquire the "GNOM...        0
4722       4722  They are quickly blocking posters on their fac...  Groupon  1415717928  https://www.reddit.com/r/technology/comments/2...   957  5573 :: Groupon is trying to acquire the "GNOM...       -1
4723       4723                                                NaN  Groupon  1297452328  https://www.reddit.com/r/technology/comments/f...  1586  1586 :: When groupon called me ... their sales...        0
4724       4724                  And now you know how sales work.   Groupon  1297457683  https://www.reddit.com/r/technology/comments/f...   188  1586 :: When groupon called me ... their sales...       -1
4725       4725                                                NaN  Groupon  1313675945  https://www.reddit.com/r/technology/comments/j...  1054  1054 :: Groupon appears to be a ponzi scheme: ...        0

In [17]:
yo.head()

  Unnamed: 0                                               body company        date                                               link score                                              title  Answer1
0          0                                                NaN  Google  1428936851  https://www.reddit.com/r/tech/comments/32g3w8/...  1089  1089 :: Google Fiber plans expansion, then TWC...      NaN
1          1  I love how companies that claimed that they we...  Google  1428937417  https://www.reddit.com/r/tech/comments/32g3w8/...   429  1089 :: Google Fiber plans expansion, then TWC...      NaN
2          2                                                NaN  Google  1402462636  https://www.reddit.com/r/tech/comments/27upmd/...   831  831 :: Google just bought a satellite company ...      NaN
3          3  I should've known when I first saw that video ...  Google  1402464010  https://www.reddit.com/r/tech/comments/27upmd/...    79  831 :: Google just bought a satellite company ...      NaN
4          4                                          [removed]  Google  1402465834  https://www.reddit.com/r/tech/comments/27upmd/...   -42  831 :: Google just bought a satellite company ...      NaN

In [11]:
groups2 = yo.groupby('company',as_index=False).sum()

In [12]:
groups2

         company  Unnamed: 7
0     1420089856         NaN
1          Aetna         NaN
2         Airbnb         NaN
3         Amazon         NaN
4       AppNexus           0
5          Apple         NaN
6          Asana         NaN
7   Athenahealth         NaN
8       Birchbox          -8
9            Box         NaN
10      Buzzfeed         NaN
11      Coursera         NaN
12      DoorDash         NaN
13       Dropbox         NaN
14            EA         NaN
15        Fitbit         NaN
16          Gilt          -2
17        GitHub         NaN
18        Google         NaN
19       Groupon         -78
20       Grubhub         NaN
21       Hubspot         NaN
22     Instagram         NaN
23       Jawbone         NaN
24         Kayak         NaN
25      LinkedIn         NaN
26          Lyft         NaN
27     Microsoft         NaN
28        Misfit         NaN
29  Oscar_Health         NaN
30      Palantir         NaN
31     Pinterest         NaN
32         Quora         NaN
33         Slack           2
34      Snapchat         NaN
35       Spotify         NaN
36        Square         NaN
37        Tinder         NaN
38       Twitter         NaN
39          Uber         NaN
40        Vivint         NaN
41       Wayfair         NaN
42      Zenefits         NaN
43        Zocdoc           3